Resources:
  S3GetObjectPolicy:
    Type: "AWS::IAM::Policy"
    Properties:
      PolicyName: "S3GetObjectPolicy"
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Action:
              - "s3:GetObject"
            Resource: "arn:aws:s3:::INSERT_BUCKET_NAME_HERE/*"
      # Use the literal name of your instance role.
      Roles:
        - "aws-elasticbeanstalk-ec2-role"